* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "DidactGothic-Regular";
  src: url(../fonts/DidactGothic-Regular.ttf);
}

@font-face {
  font-family: "FjallaOne-Regular";
  src: url(../fonts/FjallaOne-Regular.ttf);
}

@font-face {
  font-family: "WorkSans-VariableFont_wght";
  src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 100vw;
}

header {
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-family: "DidactGothic-Regular", "sans-serif";
  font-size: 100px;
}

h2 {
  font-family: "WorkSans-VariableFont_wght";
  font-size: 160px;
}

h3 {
  font-family: "DidactGothic-Regular", "sans-serif";
  font-size: 112px;
}

h4 {
  font-family: "WorkSans-VariableFont_wght", "sans-serif";
  font-size: 180px;
  color: white;
  font-weight: 400;
  letter-spacing: -0.1em;
}

p {
  font-family: "WorkSans-VariableFont_wght", "sans-serif";
  font-weight: 400;
  font-size: 20px;
}

header p {
  margin: 20px auto;
}

header h1 {
  margin: 86px auto;
  font-weight: 100;
}

header h2 {
  margin: 160px auto;
}

main section,
article {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 148px;
  padding-bottom: 148px;
  padding-left: 220px;
  padding-right: 120px;
}

main .bgOrbis {
  background-image: url(../img/portfolio2.jpg);
}

main .bgRollr {
  background-image: url(../img/portfolio3.png);
}

main .bgGalito {
  background-image: url(../img/portfolio4.jpg);
}

main .bgTretto {
  background-image: url(../img/portfolio5.png);
}

main section:nth-of-type(odd) {
  color: white;
}

main section p {
  font-weight: 300;
  margin-top: 70px;
  margin-bottom: 80px;
}

main section p:first-of-type {
  margin-top: 0;
}

/*.pLine {
  display: flex;
  align-items: center;
} */

.pLine p {
  margin-left: 5px;
  display: flex;
  align-items: center;
}
.pLine p::before {
  width: 17px;
  height: 1px;
  background-color: #9e9e9e;
  content: "";
  margin-right: 7px;
}

.bgOrbis p,
.bgGalito p {
  color: #9e9e9e;
}

.bgRollr p,
.bgTretto p {
  color: #666666;
}

main section button {
  font-family: "FjallaOne-Regular", "sans-serif";
  border: 2px solid black;
  padding: 18px 27px;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

.bgOrbis button,
.bgGalito button {
  color: white;
  border: 2px solid #9e9e9e;
}

.numbers {
  font-family: "FjallaOne-Regular", "sans-serif";
  font-size: 165px;
  text-align: right;
  margin-bottom: 0;
}

main section .numbers:nth-of-type(odd) {
  opacity: 0.6;
}

.bgOrbis button:hover,
.bgGalito button:hover {
  color: black;
  background-color: white;
  border: 2px solid white;
}

.bgOrbis button:hover ~ .numbers,
.bgGalito button:hover ~ .numbers {
  color: white;
  opacity: 0.8;
}

.bgRollr button:hover,
.bgTretto button:hover {
  color: white;
  background-color: black;
  border: 2px solid black;
}

.bgRollr button:hover ~ .numbers,
.bgTretto button:hover ~ .numbers {
  color: black;
  opacity: 0.8;
}

article {
  background-color: black;
}

article p,
article a {
  max-width: 700px;
  margin-left: 375px;
}

article p {
  font-family: "WorkSans-VariableFont_wght", "sans-serif";
  color: #666666;
  line-height: 2em;
  margin-top: 206px;
  margin-bottom: 106px;
}

article a {
  color: white;
  font-size: 60px;
  text-decoration: none;
  cursor: pointer;
}

article a:hover {
  text-decoration: underline;
}

footer ul {
  font-family: "DidactGothic-Regular", "sans-serif";
  font-size: 160px;
  text-align: center;
  list-style: none;
  line-height: 2em;
  margin: 200px auto;
}

footer a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

footer a:hover {
  text-decoration: underline;
}

.herzIcon {
  height: 30px;
  width: 30px;
  display: block;
  margin: auto;
  margin-bottom: 200px;
  position: relative;
}

/* ! ------------------- Herz-Animation ------------------- */

.herzIcon {
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
